@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap');


:root {
    --tan: #efe2ba;
    --darkblue: #4056a1;
    --red: #f13c20;
    --mustard: #d79922;
    --periwinkle: #c5cbe3;
    --white: #FFFFFF;
    --black: #000000;
  }
  html{
      margin: 0;
      font-family: monospace;
  }
  body {
      background-image: url('/images/BGTwo.png');
      background-size: cover;
    }
    
  h1{
      color: var(--tan);
  }
  nav{
    display: flex;
    justify-content: center;
  }
  .siteTitle{
    list-style-type: none;
    margin: 10px;
    background-color: var(--darkblue);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    width: 20%;
  }

  a{
      text-decoration: none;
      color: var(--darkblue);
  }
  
  .password-input{
    display: flex;
    align-items: baseline;
    background-color: #f2f2f2;
    margin-top: 10px;
  }
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  #passwordMessage{
    margin: 0;
    font-size: 13px;
  }
  
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  #emailButton{
    margin-top: 10px;
  }
  #toggleRegPassword, #toggleLoginPassword{
    margin-right: 10px;
  }
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding-top: 10px;
    margin: 10px 0 0 0;
    font-family: arial;
  }
  
  h3{
    font-size: 15px;
  }
  .login-form button:last-of-type[disabled] {
    background-color: #ccc; /* Grey background color */
    color: #666; /* Dark grey text color */
    cursor: not-allowed; /* Change cursor to 'not-allowed' */
  }
    /* Style for the enabled button */
    .login-form button:last-of-type:not([disabled]) {
      background-color: var(--darkblue); 
      color: white; /* White text color */
      cursor: pointer; /* Change cursor to 'pointer' */
    }

  /* Style for the disabled button */
  .register-form button:last-of-type[disabled] {
    background-color: #ccc; /* Grey background color */
    color: #666; /* Dark grey text color */
    cursor: not-allowed; /* Change cursor to 'not-allowed' */
  }
  
  /* Style for the enabled button */
  .register-form button:last-of-type:not([disabled]) {
    background-color: var(--darkblue); 
    color: white; /* White text color */
    cursor: pointer; /* Change cursor to 'pointer' */
  }
  
  #message p {
    padding: 5px 35px;
    font-size: 12px;
  }
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: var(--darkblue);
  }
  
  .valid:before {
    position: relative;
    left: -35px;
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: var(--red);
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }
  
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: var(--darkblue); 
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--white);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top:15px;
  }
  
 
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: var(--darkblue);
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }


  

  /* Database css*/
#title{
color: var(--darkblue);
}
.body-content {
  margin: 0 auto;
  max-width: 100rem;
  min-height: 100vh;
  padding: 0 3rem;
}

main {
  border-radius: .25rem .25rem 0 0;
  color: var(--color-black);
  overflow-x: hidden;
  padding: 3rem;
}


/*
  links + buttons
*/


button,
.button {
  align-items: center;
  background: var(--darkblue);
  border-radius: .25rem;
  color: var(--white);
  display: inline-flex;
  font-family: var(--font-family-text);
  font-size: .875rem;
  font-weight: bold;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

button.icon,
.button.icon {
  border-radius: 50%;
  height: 3rem;
  padding: 0;
  width: 3rem;
}


/*
  inputs
*/

.input {
  background: var(--white);
  border: 1px solid var(--darkblue);
  border-radius: .25rem;
  color: var(--black);
  font: inherit;
  height: 3rem;
  padding: .75rem 1rem;
}

.input.checkbox {
  border: 0;
  height: 1.5rem;
  position: relative;
  width: 1.5;
}

.input.checkbox::after {
  background: var(--white);
  border: 1px solid var(--darkblue);
  border-radius: .25rem;
  box-sizing: border-box;
  content: '';
  cursor: pointer;
  display: inline-flex;
  height: 1.5rem;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 1.5rem;
}

.input.checkbox:checked::after {
  background-color: var(--darkblue);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZkZmRmZSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMzIuNDksODAuNDlsLTEyOCwxMjhhMTIsMTIsMCwwLDEtMTcsMGwtNTYtNTZhMTIsMTIsMCwxLDEsMTctMTdMOTYsMTgzLDIxNS41MSw2My41MWExMiwxMiwwLDAsMSwxNywxN1oiPjwvcGF0aD48L3N2Zz4=");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

.input.number {
  padding-right: .75rem;
  text-align: right;
}

.input.small {
  max-width: 4rem;
}


/*
  tables
*/

table {
  border-collapse: collapse;
  margin: 1px 0 0;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--mustard);
  border-top: 1px solid var(--mustard);
  margin: -1px 0 0;
  width: 100%;
}

tr:hover:not(.selected):not(.no-hover),
tr.hover {
  background: var(--tan);
  cursor: pointer;
}

tr.selected {
  background: var(--tan);
}

td,
th {
  font: inherit;
  line-height: inherit;
  text-align: left;
  min-width: 3rem;
}

td:first-of-type,
th:first-of-type {
  padding-left: 1.5rem;
}

td:last-of-type,
th:last-of-type {
  padding-right: 1.5rem;
}

th {
  color: var(--darkblue);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1.5rem 1rem;
}

td {
  font-size: .875rem;
  padding: 1.25rem 1rem;
}

.bulk-actions {
  align-items: center;
  background: var(--periwinkle);
  border-radius: .25rem;
  color: var(--color-black);
  display: inline-flex;
  gap: .75rem;
  padding: .75rem 1.5rem;
}

.bulk-actions .icon {
  color: var(--black);
  cursor: pointer;
}

.bulk-actions .icon:hover {
  color: var(--black);
}


/*
  utility
*/

.flex { display: flex; background-color:white;}
.flex-column { flex-direction: column; }
.gap-05 { gap: .5rem; }
.gap-1 { gap: 1rem; }
.gap-15 { gap: 1.5rem; }
.gap-2 { gap: 2rem; }
.gap-3 { gap: 3rem; }
.grow { flex-grow: 1; }
.hidden { display: none; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.leading-none { line-height: 1; }