<html>
  <head>
    <title>SPaM</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>

    <header>
      <nav>
        <div class="siteTitle">
          <h1>Secure Password Manager</h1>
        </div>
      </nav>
    </header>

    <main>
      <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input
              required
              class="formButton"
              type="text"
              id="login-username"
              placeholder="username"
            />
            <div class="password-input">
              <input
                required
                type="password"
                name="password"
                id="login-password"
                placeholder="password"
              />
              <i class="bi bi-eye-slash" id="toggleLoginPassword"></i>
            </div>
            <button disabled id="loginButton">login</button>
            <p> <a href="#">Forgot Password?</a></p>
            <p class="message">Not registered?
              <a href="#">Create an account</a></p>
          </form>

          <form action="/signup" method="post" class="register-form">
            <input required type="text" placeholder="username" name="username"/>
            <div class="password-input">
              <input
                required
                type="password"
                name="password"
                id="register-password"
                placeholder="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              />
              <i class="bi bi-eye-slash" id="toggleRegPassword"></i>
            </div>
            <input
              required
              id="phoneInput"
              class="formButton"
              type="tel"
              name ="phone"
              placeholder="phone number"
            />
            <button id="generatePasswordButton">Generate a Password</button>
            <div id="message">
              <h4 id="passwordMessage">Password must contain the following:</h4>
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital" class="invalid">An <b>uppercase</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
            <input  class="submitButton" id="createButton" type="submit" onclick="submitForm()"></input>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
        </div>
      </div>
  </body>
</html>

  <script>
    // Function to handle button click
    function openNewPage() {
      // URL of the page you want to open
      var newPageUrl = '/login'; // Replace with your desired URL

      // Navigate to the new page in the current tab
      window.location.href = newPageUrl;
    }

    // Get the button element
    var openButton = document.getElementById('loginButton');

    // Attach the openNewPage function to the "click" event of the button
    openButton.addEventListener('click', openNewPage);
  </script>