<html>
  <head>
    <title>{{name}}'s Passwords</title>
  </head>
  <body>
    <main>
      <section>
        <h2>Display Database Information Here</h2>
      </section>
      <ul>
        DATABASE INFO
        <h1>User Profile</h1>
        <p>Username: {{username}}</p>
      </ul>
    </main>
  </body>
</html>