<html>
  <head>
    <title>{{name}}'s Passwords</title>
  </head>
  <body>
    <main>
      <section>
        <h2>Welcome USERNAME</h2>
      </section>
     <div class="body-content flex flex-column">
  

  <main class="flex flex-column gap-3 grow">
    <section class="flex gap-2 items-center justify-between">
      <div id="bulkActions" class="bulk-actions hidden items-center">
        <i class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
            <path
                  d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"
                  ></path>
          </svg>
        </i>

        <small id="labelItemsSelected">0 items selected</small>

        <i class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256">
            <path
                  d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
                  ></path>
          </svg>
        </i>
      </div>

      <h1 id="title" class="leading-none">Login Information</h1>

      <div class="flex gap-1 items-center">
        <button class="button icon link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
            <path
                  d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                  ></path>
          </svg>
        </button>

        <button class="button icon link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
            <path
                  d="M32,80a8,8,0,0,1,8-8H72a8,8,0,0,1,0,16H40A8,8,0,0,1,32,80Zm184,88H176V152a8,8,0,0,0-16,0v48a8,8,0,0,0,16,0V184h40a8,8,0,0,0,0-16Zm-80,0H40a8,8,0,0,0,0,16h96a8,8,0,0,0,0-16Zm-32-56a8,8,0,0,0,8-8V88H216a8,8,0,0,0,0-16H112V56a8,8,0,0,0-16,0v48A8,8,0,0,0,104,112Z"
                  ></path>
          </svg>
        </button>

        <button class="button icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fdfdfe" viewBox="0 0 256 256">
            <path
                  d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"
                  ></path>
          </svg>
        </button>
      </div>
    </section>

    <section class="flex flex-column gap-2">
      <table>
        <tr class="no-hover">
          <th></th>
          <th><span>ID</span></th>
          <th><span>Account</span></th>
          <th><span>Username</span></th>
          <th><span>Password</span></th>
          <th><span>Website</span></th>
          <th><span>Notes</span></th>
          <th><span>Edit</span></th>
        </tr>

        <tr>
          <td><input class="input checkbox" type="checkbox" /></td>
          <td>1</td>
          <td>Amazon</td>
          <td>BilboBaggins</td>
          <td>MyPrecious137!</td>
          <td>amazon.com</td>
          <td></td>
          <td>BUTTON</td>
        </tr>

        <tr>
          <td><input class="input checkbox" type="checkbox" /></td>
          <td>2</td>
          <td>MySail</td>
          <td>Bilbobaggins@oakland.edu</td>
          <td>barrelRider!!!</td>
          <td>mysail.oakland.edu</td>
          <td>to log into school!</td>
          <td>BUTTON</td>
        </tr>
      </table>

      <section class="flex items-center justify-between">
        <small class="muted">1-10 / 123 items</small>

        <div class="flex gap-2 items-center">
          <div class="flex gap-05 items-center">
            <input class="input number small" readonly type="number" value="1" />
            <small class="muted">/</small>
            <small class="muted">13 pages</small>
          </div>

          <div class="flex gap-05 items-center">
            <button class="button icon link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256">
                <path
                      d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"
                      ></path>
              </svg>
            </button>

            <button class="button icon link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256">
                <path
                      d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                      ></path>
              </svg>
            </button>
          </div>
        </div>
      </section>
    </section>
  </main>
</div>

    </main>
  </body>
</html>